@font-face {
  font-family: Palanquin;
  src: url("fonts/Palanquin/Palanquin-Regular.ttf");
}
@font-face {
  font-family: Palanquin;
  src: url("fonts/Palanquin/Palanquin-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: Palanquin;
  src: url("fonts/Palanquin/Palanquin-Light.ttf");
  font-weight: 300;
}

$primary-color: #8f00ff;
$light-primary-color: #a42cff;
$dark-primary-color: #5f00a8;
$primary-bg-color: #5f00a82c;
// blue color scheme
// $primary-color: #0077ff;
// $light-primary-color: #2c96ff;
// $dark-primary-color: #2d00a8;
$secondary-color: #fff;
$dark-secondary-color: #c6c6c6;
$dark-secondary-color2: #c6c6c6ba;
$background-color: black;

html,
body {
  margin: 0px;
  height: 100%;
  background: $background-color;
}

h1,
h2,
h3,
p {
  margin: 0;
  font-weight: normal;
}

h1 {
  font-size: 3.75rem;
}
h2 {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.35rem;
}
h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.35rem;
}
p {
  font-size: 16px;
}

.main-section {
  //   height: 100%;
  display: flex;
  //   flex-direction: column;
  justify-content: center;
  padding: 5rem;
  font-family: Palanquin;
  gap: 2rem;

  .intro {
    background: $background-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    //   animation: bg-change 5s 1;
    .title-container {
      display: flex;
      flex-direction: column;
      color: $secondary-color;
      font-weight: bold;
      gap: 1rem;
      .contacts-container {
        display: flex;
        gap: 1.5rem;
        .contact-icon {
          height: 3rem;
          width: 3rem;
          .background {
            fill: $primary-color;
          }
        }
        .contact-icon:hover {
          .background {
            fill: $secondary-color;
          }
        }
      }
    }
    .laptop-pic {
      flex: 2;
      .screen {
        margin-left: 3rem;
        width: 22rem;
        height: 15rem;
        background: rgb(55, 55, 55);
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        .content {
          height: 12rem;
          width: 20rem;
          background: #202020;
          display: flex;
          flex-direction: column;
          position: relative;
          .black-screen {
            position: absolute;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            background: black;
            opacity: 0;
            z-index: 1;
            animation-delay: 6s;
            animation-fill-mode: forwards;
          }
          .navbar {
            height: 1rem;
            width: 100%;
            background: rgb(75, 75, 75);
            display: flex;
            align-items: center;
            .red-button,
            .yellow-button,
            .green-button {
              height: 0.6rem;
              width: 0.6rem;
              border-radius: 50%;
              margin-left: 0.1rem;
              margin-right: 0.1rem;
            }
            .red-button {
              background: $primary-color;
              margin-left: 0.5rem;
            }
            .yellow-button {
              background: $dark-secondary-color;
            }
            .green-button {
              background: $secondary-color;
            }
          }
          .main-container {
            height: 100%;
            display: flex;
            gap: 0.5rem;
            background: rgb(75, 75, 75);
            .code-files {
              flex: 1;
              background: #202020;
              display: flex;
              flex-direction: column;
              gap: 0.5rem;
              padding: 0.5rem;
              .line {
                height: 0.5rem;
                width: 2rem;
                border-radius: 0.15rem;
                background: #c3c3c3;
              }
            }
            .code-container {
              flex: 4;
              display: flex;
              flex-direction: column;
              gap: 0.5rem;
              background: #202020;
              padding: 0.5rem;

              .line {
                display: flex;
                gap: 0.6rem;
                .indent {
                  width: 1rem;
                }
                .bar {
                  height: 0.5rem;
                  width: 5rem;
                  border-radius: 0.15rem;
                }
                .moving {
                  transform-origin: left;
                  animation: move-code 3s linear infinite;
                }
                .moving-slow {
                  transform-origin: left;
                  animation: move-code 5s linear infinite;
                }
                .moving-fast {
                  transform-origin: left;
                  animation: move-code 2s linear infinite;
                }
                .short {
                  width: 2rem;
                }
                .long {
                  width: 8rem;
                }
                .purple {
                  background: $primary-color;
                }
                .light-purple {
                  background: $light-primary-color;
                }
                .dark-purple {
                  background: $dark-primary-color;
                }
                .white {
                  background: $secondary-color;
                }
                .grey {
                  background: $dark-secondary-color;
                }
                .dark-grey {
                  background: $dark-secondary-color2;
                }
              }
            }
          }
        }
      }
      .motherboard {
        width: 22rem;
        height: 0;
        border-left: 3rem solid transparent;
        border-right: 3rem solid transparent;
        border-bottom: 8rem solid silver;
        .keys {
          left: 0rem;
          top: 1rem;
          position: relative;
          width: 19rem;
          height: 0;
          border-left: 1.5rem solid transparent;
          border-right: 1.5rem solid transparent;
          border-bottom: 4rem solid black;
        }
        .line {
          position: relative;
          top: -3.2rem;
          margin-top: 1.2rem;
          background: silver;
          height: 0.25rem;
        }
        .mousepad {
          position: relative;
          top: -1.5rem;
          height: 2rem;
          width: 6rem;
          margin-left: 8rem;
          border-radius: 6px;
          background: rgb(170, 170, 170);
        }
      }
      .bottom {
        height: 0.5rem;
        width: 100%;
        background: rgb(135, 135, 135);
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
      }
    }
  }
  .main-content-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    .work,
    .projects {
      color: $secondary-color;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      .entry {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 4rem;
        padding-right: 4rem;
        .title {
          color: $light-primary-color;
          font-weight: bold;
        }
        .description {
          color: $dark-secondary-color;
        }
        .technology-container {
          display: flex;
          flex-wrap: wrap;
          gap: 2rem;
          margin-top: 1rem;
          * {
            background: $dark-primary-color;
            border-radius: 1rem;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            padding-left: 1rem;
            padding-right: 1rem;
          }
        }
      }
    }
    .work {
      .company-and-time-container {
        display: flex;
        gap: 2rem;
        .company {
        }
        .time-worked {
          color: $dark-secondary-color2;
        }
      }
    }
    .projects {
      .title-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        .arrow-icon {
          width: 2.5rem;
          height: 2.5rem;
          stroke: $primary-color;
        }
      }
      .time-worked {
        color: $dark-secondary-color2;
      }
    }
  }
}
@keyframes bg-change {
  0%,
  50% {
    background: white;
  }

  100% {
    background: black;
  }
}

@keyframes title-change {
  0%,
  97%,
  99% {
    color: black;
  }

  0%,
  99% {
    text-shadow: 0vw 0vw 0vw black;
  }

  98%,
  100% {
    color: white;
  }
}

@keyframes underline-show {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes show-job {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show-skills {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes move-code {
  0%,
  100% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0.5);
  }
}

@keyframes turn-on-laptop {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes rotate-gear {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-flag {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(30deg);
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  html {
    font-size: 6px;
  }
  .main-section {
    flex-direction: column;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  html {
    font-size: 8px;
  }
  .main-section {
    flex-direction: column;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  html {
    font-size: 10px;
  }
  .main-section {
    flex-direction: column;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  html {
    font-size: 14px;
  }
  .main-section {
    flex-direction: row;
    .intro {
      flex-direction: column;
      justify-content: start;
      gap: 4rem;
      position: fixed;
      left: 5rem;
      .title-container {
      }
    }
    .main-content-container {
      margin-left: 33rem;
      .entry:hover {
        background: $primary-bg-color;
        .arrow-icon {
          transform: scale(1.25);
        }
      }
      .projects {
        .entry:hover {
          cursor: pointer;
        }
      }
    }
  }
}
