@font-face {
  font-family: Palanquin;
  src: url("fonts/Palanquin/Palanquin-Regular.ttf");
}
@font-face {
  font-family: Palanquin;
  src: url("fonts/Palanquin/Palanquin-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: Palanquin;
  src: url("fonts/Palanquin/Palanquin-Light.ttf");
  font-weight: 300;
}
html,
body {
  margin: 0px;
  height: 100%;
}

h1,
h2 {
  margin: 0;
}

h1 {
  font-size: 4rem;
}

h2 {
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.35rem;
  opacity: 1;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.intro {
  font-family: Palanquin;
  font-weight: bold;
  background: black;
}
.intro .title-container {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 1rem;
}
.intro .title-container .underline {
  background-color: white;
  left: 50%;
  animation: underline-show 1s ease-out 6s forwards;
  transform-origin: center;
  border-radius: 0.5rem;
  height: 0.4rem;
}
.intro .title-container .contacts-container {
  display: flex;
  gap: 1rem;
}
.intro .title-container .contacts-container .contact-icon {
  height: 2rem;
  width: 2rem;
}
.intro .title-container .contacts-container .contact-icon:hover .background {
  fill: #fff;
}
.intro .laptop-pic {
  flex: 2;
}
.intro .laptop-pic .screen {
  margin-left: 3rem;
  width: 22rem;
  height: 15rem;
  background: rgb(55, 55, 55);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro .laptop-pic .screen .content {
  height: 12rem;
  width: 20rem;
  background: #202020;
  display: flex;
  flex-direction: column;
  position: relative;
}
.intro .laptop-pic .screen .content .black-screen {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: black;
  opacity: 0;
  z-index: 1;
  animation-delay: 6s;
  animation-fill-mode: forwards;
}
.intro .laptop-pic .screen .content .navbar {
  height: 1rem;
  width: 100%;
  background: rgb(75, 75, 75);
  display: flex;
  align-items: center;
}
.intro .laptop-pic .screen .content .navbar .red-button,
.intro .laptop-pic .screen .content .navbar .yellow-button,
.intro .laptop-pic .screen .content .navbar .green-button {
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 50%;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}
.intro .laptop-pic .screen .content .navbar .red-button {
  background: #ff5f57;
  margin-left: 0.5rem;
}
.intro .laptop-pic .screen .content .navbar .yellow-button {
  background: #febc2e;
}
.intro .laptop-pic .screen .content .navbar .green-button {
  background: #28c840;
}
.intro .laptop-pic .screen .content .main-container {
  height: 100%;
  display: flex;
  gap: 0.5rem;
  background: rgb(75, 75, 75);
}
.intro .laptop-pic .screen .content .main-container .code-files {
  flex: 1;
  background: #202020;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
}
.intro .laptop-pic .screen .content .main-container .code-files .line {
  height: 0.5rem;
  width: 2rem;
  border-radius: 0.15rem;
  background: #c3c3c3;
}
.intro .laptop-pic .screen .content .main-container .code-container {
  flex: 4;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background: #202020;
  padding: 0.5rem;
}
.intro .laptop-pic .screen .content .main-container .code-container .line {
  display: flex;
  gap: 0.6rem;
}
.intro .laptop-pic .screen .content .main-container .code-container .line .indent {
  width: 1rem;
}
.intro .laptop-pic .screen .content .main-container .code-container .line .bar {
  height: 0.5rem;
  width: 5rem;
  border-radius: 0.15rem;
}
.intro .laptop-pic .screen .content .main-container .code-container .line .moving {
  transform-origin: left;
  animation: move-code 3s linear infinite;
}
.intro .laptop-pic .screen .content .main-container .code-container .line .moving-slow {
  transform-origin: left;
  animation: move-code 5s linear infinite;
}
.intro .laptop-pic .screen .content .main-container .code-container .line .moving-fast {
  transform-origin: left;
  animation: move-code 2s linear infinite;
}
.intro .laptop-pic .screen .content .main-container .code-container .line .short {
  width: 2rem;
}
.intro .laptop-pic .screen .content .main-container .code-container .line .long {
  width: 8rem;
}
.intro .laptop-pic .screen .content .main-container .code-container .line .yellow {
  background: #ebc601;
}
.intro .laptop-pic .screen .content .main-container .code-container .line .purple {
  background: #be82b9;
}
.intro .laptop-pic .screen .content .main-container .code-container .line .dark-blue {
  background: #5190c4;
}
.intro .laptop-pic .screen .content .main-container .code-container .line .blue {
  background: #4ebcf9;
}
.intro .laptop-pic .screen .content .main-container .code-container .line .light-blue {
  background: #97d5f6;
}
.intro .laptop-pic .screen .content .main-container .code-container .line .green {
  background: #4cc1aa;
}
.intro .laptop-pic .screen .content .main-container .code-container .line .tan {
  background: #dbdba9;
}
.intro .laptop-pic .screen .content .main-container .code-container .line .brown {
  background: #c88d75;
}
.intro .laptop-pic .motherboard {
  width: 22rem;
  height: 0;
  border-left: 3rem solid transparent;
  border-right: 3rem solid transparent;
  border-bottom: 8rem solid silver;
}
.intro .laptop-pic .motherboard .keys {
  left: 0rem;
  top: 1rem;
  position: relative;
  width: 19rem;
  height: 0;
  border-left: 1.5rem solid transparent;
  border-right: 1.5rem solid transparent;
  border-bottom: 4rem solid black;
}
.intro .laptop-pic .motherboard .line {
  position: relative;
  top: -3.2rem;
  margin-top: 1.2rem;
  background: silver;
  height: 0.25rem;
}
.intro .laptop-pic .motherboard .mousepad {
  position: relative;
  top: -1.5rem;
  height: 2rem;
  width: 6rem;
  margin-left: 8rem;
  border-radius: 6px;
  background: rgb(170, 170, 170);
}
.intro .laptop-pic .bottom {
  height: 0.5rem;
  width: 100%;
  background: rgb(135, 135, 135);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

@keyframes bg-change {
  0%, 50% {
    background: white;
  }
  100% {
    background: black;
  }
}
@keyframes title-change {
  0%, 97%, 99% {
    color: black;
  }
  0%, 99% {
    text-shadow: 0vw 0vw 0vw black;
  }
  98%, 100% {
    color: white;
  }
}
@keyframes underline-show {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes show-job {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes show-skills {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes move-code {
  0%, 100% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0.5);
  }
}
@keyframes turn-on-laptop {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes rotate-gear {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin-flag {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(30deg);
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  html {
    font-size: 7px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  html {
    font-size: 12px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}

/*# sourceMappingURL=styles.css.map */
